@font-face {
	font-family: jetbrainsMono;
	src: url(./webfonts/JetBrainsMono-Regular.woff2);
}

@font-face {
	font-family: jetbrainsMono;
	src: url(./webfonts/JetBrainsMono-Bold.woff2);
	font-weight: bold;
}

* {
	font-size: 1em;
}

body {
	font-family: jetbrainsMono;
	background-color: #262626;
	color: #ffd7af;
}

a {
	text-decoration: none;
	color: #afaf00;
}

a:hover {
	text-decoration: underline;
	color: #969600;
}

pre {
	margin: 0;
	color: #87afaf;
}
